html {
  font-size: 10px;
  background: url('./background.png') bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #cd0bcd;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(166, 219, 101, 0.4);
  text-shadow: 0 0 .5rem rgb(0, 118, 22);
}

.playing {
  transform: scale(1.1);
  border-color: #d75fd3;
  box-shadow: 0 0 2rem #0f9e48;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.sound-green {
  color: #82f89ba2;
}

.sound-pink {
  color: #d52aec;
}